
# Firebase / Google config
TodoListApp/GoogleService-Info.plist

# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS
.DS_Store

# Firebase / Google config
GoogleService-Info.plist
